@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>正在加载</title>
</head>
<body>
    <form id="pform" action="/OpenAPI/WeixinSignin" method="post">
        <input type="hidden" name="hash" id="hash" /> 
         正在加载......
    </form>
    <script type="text/javascript">
        window.onload = function () {
            var hash = document.getElementById("hash");
            hash.value = window.location.hash;
            var pform = document.getElementById("pform");
            pform.submit();
        };
    </script>
</body>
</html>
